header {
    font-size: 28px;
    margin-top: 2%;
    text-align: center;
    color: gray;
  }

table {
  width: 80%;
  margin: 3% 10% 5% 10%;
}

th {
  border: solid black;
  /* font-weight: bold; */
}

tbody tr:nth-child(2n + 1) {
  background-color: #e9ecef;
}

tbody tr:nth-child(2n) {
  background-color: white;
}

ol{
    margin: auto;
}

img {
  width: 190px;
  height: 100px;
}

